h1 {
    font-size: 40px;
    font-weight: bold;
    }
    .cuadro {
      height: 350px;
      margin: 20px; 
      transition: box-shadow 0.3s ease; 
    }
    .seleccionado {
        box-shadow: 0 0 30px skyblue; 
    }
    .cuadro:hover {
        box-shadow: 0 0 10px gray; 
    }
    .card-img-top {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        margin: 0 auto;
        object-fit: cover; 
    }
    #opciones {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    #opciones label {
        margin-right: 10px;
    }

    #contenido .cuadro {
        margin-bottom: 20px;
    }
    #contenido {
    background-color: rgb(209, 209, 209); 
    padding: 20px; 
}